body {
    margin: 0px;
    padding: 0px;
    background: #f8ead0 url(../imagens/background/noise.png);
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'lucida Sans', verdana, sans-serif;
}

.container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.antitopico {
    display: flex;
}

.recomendacoes {
    margin: 0px 0px 10px 20px;
    padding: 0px 20px 0px 20px;
    max-width: 200px;
    min-width: 150px;
    height:auto;
    background-color: #fffbe4;
}

.recomendacoes h3 {
    font-size: 15px;
}
.recomendacoes li {
    font-size: 13px;
    margin-bottom: 5px;
}

.topico {
    max-width: 600px;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #c2c2c2
}

.titulo > h2 {
    margin: 5px 0px;
    border-bottom: 1px dashed black;
    padding-bottom: 5px;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.conteudo > div >  img {
    width: 200px;
    max-height: 180px;
    padding: 2px;
    border: 1px solid #000000;
}

.conteudo > div {
    display: flex;
}

.conteudo-imagem > p {
    margin: 0px 0px 0px 10px;
    font-size: 15px;
}

.container h1 {
    padding: 3px;
    width: 560px;
    color: #7e9f19;
}
.container h1:hover {
    background-color: #7e9f19;
    color: #ffffff;
    cursor: pointer;
}